@{
    ViewData["Title"] = $"{ViewBag.Name} Block Explorer";
}
@using System.Globalization
@model Solaris.BlockExplorer.UI.Models.ViewModels.IBlocksViewModel

<div class="row mt-2">
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-2">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="title-bottom-border mb-2">
                            Block height
                        </h4>
                        <div class="display-4 text-center" style="font-size: 1.8rem;">
                            @ViewBag.BlockHeight
                            <div class="text-lightblue lead">
                                Last found block
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-2">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="title-bottom-border mb-2">
                            Total Supply
                        </h4>
                        <div class="display-4 text-center" style="font-size: 1.8rem;">
                            1,921,651
                            <div class="text-lightblue lead">
                                Current supply of @ViewBag.Name
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-2">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="title-bottom-border mb-2">
                            Current Price
                        </h4>
                        <div class="display-4 text-center" style="font-size: 1.8rem;">
                            <strong>@ViewBag.Ticker</strong> $@Math.Round(ViewBag.CoinData.MarketData.CurrentPrice.Usd, 2)
                            <div class="text-lightblue lead">@ViewBag.CoinData.MarketData.CurrentPrice.Btc BTC
                                @if (ViewBag.CoinData.MarketData.PriceChangePercentage24H > 0)
                                {
                                    <span class="text-success"> @Math.Round(ViewBag.CoinData.MarketData.PriceChangePercentage24HInCurrency.Btc, 2)%</span>
                                }
                                else
                                {
                                    <span class="text-danger"> @Math.Round(ViewBag.CoinData.MarketData.PriceChangePercentage24HInCurrency.Btc, 2)%</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-2">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="title-bottom-border mb-2">
                            Market Data
                        </h4>
                        <div class="row">
                            <div class="text-center col-6">
                                <div class="display-4 text-center" style="font-size: 1.8rem;">
                                    $@string.Format("{0:#,##0.##}", ViewBag.CoinData.MarketData.MarketCap.Usd)
                                    <div class="text-lightblue lead">
                                        Marketcap
                                    </div>
                                </div>
                            </div>
                            <div class="text-center col-6">
                                
                                <div class="display-4 text-center" style="font-size: 1.8rem;">
                                    $@string.Format("{0:#,##0.##}", ViewBag.CoinData.MarketData.TotalVolume.Usd)
                                    <div class="text-lightblue lead">
                                        Volume
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="title-bottom-border mb-2">
                    Blocks
                </h4>
                <div class="row row-header">
                    <div class="col-1 d-lg-none row-header-column text-left">#</div>
                    <div class="col-1 d-none d-lg-block row-header-column text-left">Block Height</div>
                    <div class="col d-none d-md-block row-header-column text-left">Block Hash</div>
                    <div class="col d-none d-sm-block row-header-column text-right">Transactions</div>
                    <div class="col row-header-column text-right">Amount</div>
                    <div class="col row-header-column text-right">Time</div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @foreach (var block in Model.Blocks)
                        {
                            <div class="row rows">
                                <div class="col-1 row-column text-left">
                                    <a href="@Url.Action("Index", "Block", new {blockHash = block.Id})">@block.Height</a>
                                </div>
                                <div class="col d-none d-md-block row-column text-left">
                                    <a href="@Url.Action("Index", "Block", new {blockHash = block.Id})">@block.Id</a>
                                </div>
                                <div class="col d-none d-sm-block row-column text-right">
                                    @block.Transactions
                                </div>
                                <div class="col row-column text-right">
                                    @block.OutputValue @ViewBag.Ticker
                                </div>
                                <div class="col row-column text-right">
                                    @DateTimeOffset.FromUnixTimeSeconds(block.Time).DateTime.ToString(CultureInfo.CurrentUICulture)
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>