@{
    ViewData["Title"] = $"{ViewBag.Name} Block Explorer";
}
@using System.Globalization
@model IEnumerable<Solaris.BlockExplorer.DataAccess.Models.Block>

<div class="row mt-2">
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="title-bottom-border mb-2">
                            Current Block height
                        </h4>
                        <p>145,241</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="title-bottom-border mb-2">
                            Circulating Supply
                        </h4>
                        <p>145,241</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="title-bottom-border mb-2">
                            Market Data
                        </h4>
                        <div class="display-4 text-center">
                            <strong>@ViewBag.Ticker</strong> $@Math.Round(ViewBag.CoinData.MarketData.CurrentPrice.Usd, 2)
                            <div class="text-lightblue lead">@ViewBag.CoinData.MarketData.CurrentPrice.Btc BTC
                                @if (ViewBag.CoinData.MarketData.PriceChangePercentage24H > 0)
                                {
                                    <span class="text-success"><i class="fas fa-arrow-up"></i> @Math.Round(ViewBag.CoinData.MarketData.PriceChangePercentage24HInCurrency.Btc, 2)%</span>
                                }
                                else
                                {
                                    <span class="text-danger"><i class="fas fa-arrow-down"></i> @Math.Round(ViewBag.CoinData.MarketData.PriceChangePercentage24HInCurrency.Btc, 2)%</span>
                                }
                                </div>
                        </div>
                        <div class="row">
                            <div class="text-blue lead text-center col-6" style="font-size: 1.2em;">
                                <strong>Marketcap:</strong> $@String.Format("{0:#,##0.##}", ViewBag.CoinData.MarketData.MarketCap.Usd)
                            </div>
                            <div class="text-blue lead text-center col-6" style="font-size: 1.2em;">
                                <strong>Volume:</strong> $@String.Format("{0:#,##0.##}", ViewBag.CoinData.MarketData.TotalVolume.Usd)
                            </div>
                        </div>
                        <div class="text-muted text-center" style="font-size:0.8em">Powered by CoinGecko API</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="title-bottom-border mb-2">
                    Blocks
                </h4>
                <div class="row row-header">
                    <div class="col-1 d-lg-none row-header-column text-left">#</div>
                    <div class="col-1 d-none d-lg-block row-header-column text-left">Block Height</div>
                    <div class="col d-none d-md-block row-header-column text-left">Block Hash</div>
                    <div class="col d-none d-sm-block row-header-column text-right">Transactions</div>
                    <div class="col row-header-column text-right">Amount</div>
                    <div class="col row-header-column text-right">Time</div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @foreach (var block in Model)
                        {
                            <div class="row rows">
                                <div class="col-1 row-column text-left">
                                    <a href="@Url.Action("Index", "Block", new {blockHash = block.Id})">@block.Height</a>
                                </div>
                                <div class="col d-none d-md-block row-column text-left">
                                    <a href="@Url.Action("Index", "Block", new {blockHash = block.Id})">@block.Id</a>
                                </div>
                                <div class="col d-none d-sm-block row-column text-right">
                                    @block.Transactions.Count
                                </div>
                                <div class="col row-column text-right">
                                    @block.Transactions.Sum(p => p.TransactionOutputs.Sum(to => to.Output.Value)) @ViewBag.Ticker
                                </div>
                                <div class="col row-column text-right">
                                    @DateTimeOffset.FromUnixTimeSeconds(block.Time).DateTime.ToString(CultureInfo.CurrentUICulture)
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>