@using Solaris.BlockExplorer.UI.HtmlHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/libs.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/highlightjs/styles/vs@(Html.ViewMode() == "night-mode" ? "2015" : "").min.css" asp-append-version="true" />

    <link rel="icon" href="~/favicon.png" type="image/png" asp-append-version="true">
    
    <script src="~/js/libs.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    <script>
        Endpoints.prototype.darkTheme = '@Url.Content("~/css/highlightjs/styles/vs2015.min.css")';
        Endpoints.prototype.lightTheme = '@Url.Content("~/css/highlightjs/styles/vs.min.css")';
        Endpoints.prototype.marketData = '@Url.Action("MarketData", "Home")';
        Endpoints.prototype.wealthChartData = '@Url.Action("GetWealthChartData", "RichList")';
        Endpoints.prototype.difficultyChartData = '@Url.Action("GetDifficultyData", "Statistics")';
        Endpoints.prototype.transactionCountChartData = '@Url.Action("GetTransactionCountData", "Statistics")';
        Endpoints.prototype.blockSizeChartData = '@Url.Action("GetBlockSizeData", "Statistics")';

        Settings.prototype.ticker = '@ViewBag.Ticker';
        Settings.prototype.viewMode = '@Html.ViewMode()';
    </script>
</head>
<body data-bind="css: viewMode" class="@Html.ViewMode()">
    <header>
        <partial name="Navbar" />
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 side-columns">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="d-flex justify-content-center position-absolute footer">
        <div class="container">
            <div class="row pt-2">
                <div class="col-sm-12 col-md-12 text-center">
                    @if (string.IsNullOrEmpty(@ViewBag.Website))
                    {
                        <div class="d-none"></div>
                    }
                    else
                    {
                        <a href="@ViewBag.Website" class="text-white" target="_blank"><i class="fas fa-globe mr-2"></i></a>
                    }
                    @if (string.IsNullOrEmpty(@ViewBag.Twitter))
                    {
                        <div class="d-none"></div>
                    }
                    else
                    {
                        <a href="@ViewBag.Twitter" class="text-white" target="_blank"><i class="fab fa-twitter mr-2"></i></a>
                    }
                    @if (string.IsNullOrEmpty(@ViewBag.Telegram))
                    {
                        <div class="d-none"></div>
                    }
                    @if (string.IsNullOrEmpty(@ViewBag.Twitter))
                    {
                        <div class="d-none"></div>
                    }
                    else
                    {
                        <a href="@ViewBag.Facebook" class="text-white" target="_blank"><i class="fab fa-facebook mr-2"></i></a>
                    }
                    @if (string.IsNullOrEmpty(@ViewBag.Telegram))
                    {
                        <div class="d-none"></div>
                    }
                    else
                    {
                        <a href="@ViewBag.Telegram" class="text-white" target="_blank"><i class="fab fa-telegram-plane mr-2"></i></a>
                    }
                    @if (string.IsNullOrEmpty(@ViewBag.Discord))
                    {
                        <div class="d-none"></div>
                    }
                    else
                    {
                        <a href="@ViewBag.Discord" class="text-white" target="_blank"><i class="fab fa-discord mr-2"></i></a>
                    }
                    @if (string.IsNullOrEmpty(@ViewBag.Reddit))
                    {
                        <div class="d-none"></div>
                    }
                    else
                    {
                        <a href="@ViewBag.Reddit" class="text-white" target="_blank"><i class="fab fa-reddit-alien mr-2"></i></a>
                    }
                    @if (string.IsNullOrEmpty(@ViewBag.BitcoinTalk))
                    {
                        <div class="d-none"></div>
                    }
                    else
                    {
                        <a href="@ViewBag.BitcoinTalk" class="text-white" target="_blank"><i class="fab fa-bitcoin mr-2"></i></a>
                    }
                    @if (string.IsNullOrEmpty(@ViewBag.Medium))
                    {
                        <div class="d-none"></div>
                    }
                    else
                    {
                        <a href="@ViewBag.Medium" class="text-white" target="_blank"><i class="fab fa-medium-m mr-2"></i></a>
                    }
                    @if (string.IsNullOrEmpty(@ViewBag.GitHub))
                    {
                        <div class="d-none"></div>
                    }
                    else
                    {
                        <a href="@ViewBag.GitHub" class="text-white" target="_blank"><i class="fab fa-github"></i></a>
                    }
                </div>
            </div>
            <div class="row pb-2 pt-1">
                <div class="col-12 text-center small">
                    Made with <i class="far fa-heart text-danger"></i> by <a href="https://www.solarisplatform.com">Solaris Platform</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </footer>
</body>
</html>
