@using Solaris.BlockExplorer.UI.HtmlHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.2.0-web/css/fontawesome.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.2.0-web/css/all.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="icon" href="~/favicon.png" type="image/png" asp-append-version="true">
    <script>
        var Endpoints = function() {};
        var Settings = function() {};
        Endpoints.prototype.darkTheme = '@Url.Content("~/lib/highlight/styles/vs2015.css")';
        Endpoints.prototype.lightTheme = '@Url.Content("~/lib/highlight/styles/vs.css")';
        Endpoints.prototype.marketData = '@Url.Action("MarketData", "Home")';
        Settings.prototype.viewMode = '@Html.ViewMode()';
    </script>

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" asp-append-version="true"></script>
    <script src="~/lib/clipboardjs/clipboard.min.js" asp-append-version="true"></script>
    <script src="~/lib/highlight/highlight.pack.js" asp-append-version="true"></script>
    <script src="~/lib/knockoutjs/knockout-min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/highlight/styles/default.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/highlight/styles/vs@(Html.ViewMode() == "night-mode" ? "2015" : "").css" asp-append-version="true" />
</head>
<body data-bind="css: viewMode" class="@Html.ViewMode()">
    <header>
        <partial name="Navbar" />
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 side-columns">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="d-flex justify-content-center mt-auto">
        <div class="container">
            <div class="row mt-2 pt-2 pb-2">
                <div class="col-sm-12 col-md-12 text-center">
                    @if (string.IsNullOrEmpty(@ViewBag.Website))
                    {
                        <div class="d-none"></div>
                    }
                    else
                    {
                        <a href="@ViewBag.Website" class="text-white" target="_blank"><i class="fas fa-globe mr-2"></i></a>
                    }
                    @if (string.IsNullOrEmpty(@ViewBag.Twitter))
                    {
                        <div class="d-none"></div>
                    }
                    else
                    {
                        <a href="@ViewBag.Twitter" class="text-white" target="_blank"><i class="fab fa-twitter mr-2"></i></a>
                    }
                    @if (string.IsNullOrEmpty(@ViewBag.Telegram))
                    {
                        <div class="d-none"></div>
                    }
                    else
                    {
                        <a href="@ViewBag.Telegram" class="text-white" target="_blank"><i class="fab fa-telegram-plane mr-2"></i></a>
                    }
                    @if (string.IsNullOrEmpty(@ViewBag.Discord))
                    {
                        <div class="d-none"></div>
                    }
                    else
                    {
                        <a href="(@ViewBag.Discord" class="text-white" target="_blank"><i class="fab fa-discord mr-2"></i></a>
                    }
                    @if (string.IsNullOrEmpty(@ViewBag.Reddit))
                    {
                        <div class="d-none"></div>
                    }
                    else
                    {
                        <a href="@ViewBag.Reddit" class="text-white" target="_blank"><i class="fab fa-reddit-alien mr-2"></i></a>
                    }
                    @if (string.IsNullOrEmpty(@ViewBag.BitcoinTalk))
                    {
                        <div class="d-none"></div>
                    }
                    else
                    {
                        <a href="@ViewBag.BitcoinTalk" class="text-white" target="_blank"><i class="fab fa-bitcoin mr-2"></i></a>
                    }
                    @if (string.IsNullOrEmpty(@ViewBag.Medium))
                    {
                        <div class="d-none"></div>
                    }
                    else
                    {
                        <a href="@ViewBag.Medium" class="text-white" target="_blank"><i class="fab fa-medium-m mr-2"></i></a>
                    }
                    @if (string.IsNullOrEmpty(@ViewBag.GitHub))
                    {
                        <div class="d-none"></div>
                    }
                    else
                    {
                        <a href="@ViewBag.GitHub" class="text-white" target="_blank"><i class="fab fa-github"></i></a>
                    }
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        var clipboard = new ClipboardJS('.clipboard');
        clipboard.on('success', function (e) {
            $(".clipboard-success").fadeIn("slow", function () {
                setTimeout(function () {
                    $(".clipboard-success").fadeOut("slow");
                }, 3000);
            });
        });
    </script>
</body>
</html>
