
@{
    ViewData["Title"] = $"{ViewBag.Name} Block Explorer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Globalization
@using Solaris.BlockExplorer.UI.HtmlHelpers
@model Solaris.BlockExplorer.UI.Models.ViewModels.IBlockViewModel


<div class="row mt-2">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="title-bottom-border mb-2">
                    Details for Block #@Model.Block.Height
                </h4>
                <div class="row rows">
                    <div class="col-sm-3 col-md-2 col-lg-2 col-xl-3 col-xxl-2 col-xxxl-2 text-left row-column text-lightblue">Hash</div>
                    <div class="col-sm-9 col-md-10 col-lg-10 col-xl-9 col-xxl-10 col-xxxl-10 text-left row-column">
                        <a href="@Url.Action("Index", new { blockHash = Model.Block.Id })">@Model.Block.Id</a>
                    </div>
                </div>
                <div class="row rows">
                    <div class="col-sm-3 col-md-2 col-lg-2 col-xl-3 col-xxl-2 col-xxxl-2 text-left row-column">Date/Time</div>
                    <div class="col-sm-9 col-md-10 col-lg-10 col-xl-9 col-xxl-10 col-xxxl-10 text-left row-column">@DateTimeOffset.FromUnixTimeSeconds(Model.Block.Time).DateTime.ToString(CultureInfo.CurrentUICulture)</div>
                </div>
                <div class="row rows">
                    <div class="col-sm-3 col-md-2 col-lg-2 col-xl-3 col-xxl-2 col-xxxl-2 text-left row-column">Transactions</div>
                    <div class="col-sm-9 col-md-10 col-lg-10 col-xl-9 col-xxl-10 col-xxxl-10 text-left row-column">@Model.Block.Transactions <span class="badge badge-primary">@(Math.Round(Model.Block.Size / 1024m, 4)) kB</span></div>
                </div>
                <div class="row rows">
                    <div class="col-sm-3 col-md-2 col-lg-2 col-xl-3 col-xxl-2 col-xxxl-2 text-left row-column">Value Out</div>
                    <div class="col-sm-9 col-md-10 col-lg-10 col-xl-9 col-xxl-10 col-xxxl-10 text-left row-column">@Model.Block.OutputValue @ViewBag.Ticker</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2 mb-2 d-none d-lg-block">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="title-bottom-border mb-2">
                    Transactions
                </h4>
                <div class="row row-header">
                    <div class="col-lg-2 col-xl-3 col-xxl-4 row-header-column text-left">Transaction Hash</div>
                    <div class="col-lg-4 col-xl-4 col-xxl-4 text-left">From (amount)</div>
                    <div class="col-lg-6 col-xl-5 col-xxl-4 row-header-column text-left">To (amount)</div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @foreach (var transaction in Model.Transactions)
                        {
                            <div class="row rows">
                                <div class="col-lg-2 col-xl-3 col-xxl-4 row-column text-left">
                                    <a href="@Url.Action("Index", "Transaction", new { transactionHash = transaction.TransactionId })">@transaction.TransactionId</a>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-xxl-4 row-column text-left">
                                    @foreach (var input in transaction.Inputs)
                                    {
                                        <div class="row">
                                            <div class="col-6 text-left">
                                                @if (!input.Addresses.Any())
                                                {
                                                    <span>Generation + Fees</span>
                                                }

                                                @Url.AddressLink(input.Addresses)
                                            </div>
                                            <div class="col-6 text-right">
                                                @if (input.Amount != null)
                                                {
                                                    <span>@input.Amount @ViewBag.Ticker</span>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="col-lg-6 col-xl-5 col-xxl-4 row-column text-right">
                                    @foreach (var output in transaction.Outputs)
                                    {
                                        <div class="row">
                                            <div class="col-6 text-left">
                                                @if (transaction.OutputSum <= 0)
                                                {
                                                    <span>Included in following transaction(s)</span>
                                                }

                                                @if (!output.Addresses.Any() && transaction.OutputSum > 0)
                                                {
                                                    <span>Generation + Fees</span>
                                                }
                                                @Url.AddressLink(output.Addresses)
                                            </div>
                                            <div class="col-6 text-right">
                                                @if (output.Amount == null || output.Amount == 0)
                                                {
                                                    <span>@transaction.Mined @ViewBag.Ticker</span>
                                                }
                                                else
                                                {
                                                    <span>@output.Amount @ViewBag.Ticker</span>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2 mb-2 d-lg-none">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="title-bottom-border mb-2">
                    Transactions
                </h4>
            </div>
        </div>
    </div>
</div>
