
@{
    ViewData["Title"] = $"{ViewBag.Name} Block Explorer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IBlockTransactionsModel

    <div class="text-center details-table-width mt-4">

        <div class="card">
            <h1 class="table-title">Details for Block #@Model.Block.Height</h1>

            <table class="table text-left table-borderless details-table">
                <tr>
                    <th>Hash</th>
                    <td><code>@Model.Block.Hash</code></td>
                </tr>
                <tr>
                    <th>Date/Time</th>
                    <td>@DateTimeOffset.FromUnixTimeSeconds(Model.Block.Time)</td>
                </tr>
                <tr>
                    <th>Transactions</th>
                    <td>@Model.Transactions.LongCount() <span class="badge badge-secondary">@(Model.Block.Size / 1024m) kB</span></td>
                </tr>
                <tr>
                    <th>Value Out</th>
                    <td>@Model.Block.ValueOut @ViewBag.Ticker</td>
                </tr>
            </table>
        </div>
    </div>
<br />



<div class="card" id="main-table-block">
    <h1 class="table-title">Transactions</h1>
    <div class="row row-header">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-xxxl-4 row-header-column text-left">Transaction Hash</div>
        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 col-xxxl-1 row-header-column text-center">Value Out</div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 col-xxxl-3 row-header-column text-left">From</div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 col-xxxl-3 row-header-column text-left">To</div>
        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 col-xxxl-1 row-column text-center">Amount</div>
        </div>
        <div class="row">
            <div class="col-12">
                @foreach (var transaction in Model.Transactions)
                {
                    <div class="row rows">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-xxxl-4 row-column text-left">
                            <a href="@Url.Action("Index", "Transaction", new {transactionHash = transaction.Hash})"><code>@transaction.Hash</code></a>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 col-xxxl-1 row-column text-center">
                            @transaction.Outputs.Sum(p => p.Value) @ViewBag.Ticker
                        </div>

                        @foreach (var input in transaction.Inputs)
                        {
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 col-xxxl-3 row-column text-left">
                                @(string.Join("<br/>", input.From))

                                @if (!input.From.Any())
                                {
                                    <span>Generation + Fees</span>
                                }
                            </div>
                        }
                        @foreach (var output in transaction.Outputs)
                        {
                            
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 col-xxxl-3 row-column text-left">
                                @(string.Join("<br/>", output.ScriptPubKey.Addresses))
                            </div>
                            <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 col-xxxl-1 row-column text-center">
                                @output.Value @ViewBag.Ticker
                            </div>

                        }

                    </div>
                }
            </div>
        </div>
    </div>

